<div class="icon-container">
    <mat-icon class="icon" aria-hidden="false" >add_alarm</mat-icon>   
    <mat-icon class="icon" aria-hidden="false" >person_add_alt</mat-icon>
    <mat-icon fontSet="material-icons-outlined" class="icon" aria-hidden="false" >palette</mat-icon>
    <mat-icon  fontSet="material-icons-outlined" class="icon" aria-hidden="false" >image</mat-icon>
    <mat-icon  fontSet="material-icons-outlined" class="icon" aria-hidden="false" >archive</mat-icon>
    <mat-icon class="icon"  aria-hidden="false" >more_vert</mat-icon>
</div>
