<div class="container">
    <div class="header">
        <img src="../../../assets/googlelogo.png" class="google-logo" alt="">
        <h1>Forgot Password?</h1>
        <h2>Enter you email</h2>
    </div>
  <form class="form" [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        
        <input matInput placeholder="Email" formControlName="email">
        
<mat-error>Enter valid email</mat-error>
    </mat-form-field>
    <div class="bottom-container">
        
        <button mat-raised-button color="primary">Next</button>
    </div>
</form>
</div>