<div class="container">
    <div class="header">
        <img src="../../../assets/googlelogo.png" class="google-logo" alt="">
        <h1>Reset Password</h1>
       
    </div>
  
    <h3>Enter your new password</h3>
    <form class="form" [formGroup]="resetPasswordForm"  (ngSubmit)="onSubmit()" >
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" formControlName="password">
        
<mat-error>Field required</mat-error>
    </mat-form-field>
    <mat-hint class="hint">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
    <mat-checkbox class="example-margin">Show password</mat-checkbox>

    <mat-form-field appearance="outline">
        <mat-label>Confirm</mat-label>
        <input matInput type="password" placeholder="Confirm password" formControlName="confirmpassword">
        <mat-error>Field required</mat-error>
    </mat-form-field>
    
    <div class="bottom-container">
        
        <button mat-raised-button color="primary">Submit</button>
    </div>
</form>
</div>
